RewriteEngine On

# Untuk file home.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home$ home.html [NC,L]

# Untuk file about.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^about$ about.html [NC,L]
